tests/wsdl_samples/multi_schema/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/common"
            elementFormDefault="qualified">

  <!-- A trivial complex type that callers reference from the types.xsd
       that imports this schema. Deliberately simple so the test asserts
       end-to-end resolution, not complex-type semantics. -->
  <xsd:complexType name="Address">
    <xsd:sequence>
      <xsd:element name="street" type="xsd:string"/>
      <xsd:element name="city"   type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
